In [1]:
# SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
#import config file
from config import user, pwd
#import dependencies
import numpy as np
import pandas as pd
from pprint import pprint 
import json
import requests

In [2]:
# Create Engine and Pass in MySQL Connection
engine = create_engine(f"mysql://root:{pwd}@localhost/letour_db")
conn = engine.connect()

In [3]:
Base=automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['race',
 'race_result_type',
 'race_results',
 'race_starters',
 'race_stages',
 'race_teams']

In [4]:
#save references to race_results and race_starters tables
Result = Base.classes.race_results
Starter = Base.classes.race_starters

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [6]:
# Query All Records in the the race_results table
race_results = pd.read_sql("SELECT * FROM race_results", conn)
race_results.head()

,result_id,stage_id,race_result_type_id,ranking,rider_id,rider_time,rider_bonus,rider_points
0,1,1,2,1,103,15802,10,None
1,2,1,2,2,111,15806,6,None
2,3,1,2,3,144,15808,4,None
3,4,1,2,4,27,15811,1,None
4,5,1,2,5,95,15812,None,None

In [7]:
race_starters = pd.read_sql("SELECT * FROM race_starters", conn)
race_starters.head()

,rider_id,rider_name,rider_country,rider_team,rider_age,race_id
0,1,Chris Froome,Great Britain,Team Sky,33,1
1,2,Egan Bernal,Colombia,Team Sky,21,1
2,3,Jonathan Castroviejo,Spain,Team Sky,31,1
3,4,Michal Kwiatkowski,Poland,Team Sky,28,1
4,5,Gianni Moscon,Italy,Team Sky,24,1

In [ ]:
# movies = ["Aliens", "Sing", "Moana"]

# responses = [];

# for movie in movies:
#     movie_data = requests.get(url + movie).json()
#     responses.append(movie_data)
#     print(f'The director of {movie} is {movie_data["Director"]}')

In [12]:
info = session.query(Result.stage_id, Result.race_result_type_id, Result.ranking, Result.rider_id,).filter(Result.race_result_type_id==2).all()
results_info=[]
for row in info:
    results_info.append(info)
print(results_info)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)