In [1]:
# SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
#import config file
from config import user, pwd
#import dependencies
import numpy as np
import pandas as pd
from pprint import pprint

In [2]:
# Create Engine and Pass in MySQL Connection
engine = create_engine(f"mysql://root:{pwd}@localhost/letour_db")
conn = engine.connect()

In [3]:
Base=automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['race',
 'race_result_type',
 'race_results',
 'race_starters',
 'race_stages',
 'race_teams']

In [4]:
#save references to race_results and race_starters tables
Result = Base.classes.race_results
Starter = Base.classes.race_starters

In [5]:
# Query All Records in the the race_results table
race_results = pd.read_sql("SELECT * FROM race_results", conn)
race_results.head()

,result_id,stage_id,race_result_type_id,ranking,rider_id,rider_time,rider_bonus,rider_points
0,1,1,2,1,103,15802,10,None
1,2,1,2,2,111,15806,6,None
2,3,1,2,3,144,15808,4,None
3,4,1,2,4,27,15811,1,None
4,5,1,2,5,95,15812,None,None

In [6]:
# select * from race_results r, race_starters rs where rs.rider_id=r.rider_id and stage_id=1 and race_result_type_id=2;
overall_rank=race_results.loc[race_results['race_result_type_id'] == 2]
overall_rank.head()

,result_id,stage_id,race_result_type_id,ranking,rider_id,rider_time,rider_bonus,rider_points
0,1,1,2,1,103,15802,10,None
1,2,1,2,2,111,15806,6,None
2,3,1,2,3,144,15808,4,None
3,4,1,2,4,27,15811,1,None
4,5,1,2,5,95,15812,None,None

In [7]:
overall_rank_clean=overall_rank.drop(columns=['result_id', 'race_result_type_id', 'rider_time', 'rider_bonus', 'rider_points'])
overall_rank_clean.head()

   stage_id  ranking  rider_id
0         1        1       103
1         1        2       111
2         1        3       144
3         1        4        27
4         1        5        95

In [8]:
overall_rank_clean.count()

stage_id    3875
ranking     3875
rider_id    3875
dtype: int64

In [9]:
race_starters = pd.read_sql("SELECT * FROM race_starters", conn)
race_starters.head()

,rider_id,rider_name,rider_country,rider_team,rider_age,race_id
0,1,Chris Froome,Great Britain,Team Sky,33,1
1,2,Egan Bernal,Colombia,Team Sky,21,1
2,3,Jonathan Castroviejo,Spain,Team Sky,31,1
3,4,Michal Kwiatkowski,Poland,Team Sky,28,1
4,5,Gianni Moscon,Italy,Team Sky,24,1

In [10]:
race_starters=race_starters.drop(columns=['race_id', 'rider_age'])
race_starters.head()

   rider_id            rider_name  rider_country rider_team
0         1          Chris Froome  Great Britain   Team Sky
1         2           Egan Bernal       Colombia   Team Sky
2         3  Jonathan Castroviejo          Spain   Team Sky
3         4    Michal Kwiatkowski         Poland   Team Sky
4         5         Gianni Moscon          Italy   Team Sky

In [11]:
race_starters.count()

rider_id         176
rider_name       176
rider_country    176
rider_team       176
dtype: int64

In [12]:
# Merge the columns on rider_id
bump_unique_df = pd.merge(overall_rank_clean, race_starters, on="rider_id", how="left")

In [13]:
bump_unique_df.head()

,stage_id,ranking,rider_id,rider_name,rider_country,rider_team
0,1,1,103,Fernando Gaviria,Colombia,Quick-Step Floors
1,1,2,111,Peter Sagan,Slovakia,Bora-Hansgrohe
2,1,3,144,Marcel Kittel,Germany,Team Katusha-Alpecin
3,1,4,27,Oliver Naesen,Belgium,AG2R La Mondiale
4,1,5,95,Alexander Kristoff,Norway,UAE Team Emirates

In [14]:
bump_unique_df.count()

stage_id         3875
ranking          3875
rider_id         3875
rider_name       3875
rider_country    3875
rider_team       3875
dtype: int64

In [15]:
#sort table for stage_id and ranking
bump_unique_df = bump_unique_df.sort_values(
    ["stage_id", "ranking"], ascending=True)
bump_unique_df.head()

,stage_id,ranking,rider_id,rider_name,rider_country,rider_team
0,1,1,103,Fernando Gaviria,Colombia,Quick-Step Floors
524,1,1,103,Fernando Gaviria,Colombia,Quick-Step Floors
1,1,2,111,Peter Sagan,Slovakia,Bora-Hansgrohe
525,1,2,111,Peter Sagan,Slovakia,Bora-Hansgrohe
2,1,3,144,Marcel Kittel,Germany,Team Katusha-Alpecin

In [16]:
bump_unique_df=bump_unique_df.drop_duplicates(keep="first")
bump_unique_df.head(10)

,stage_id,ranking,rider_id,rider_name,rider_country,rider_team
0,1,1,103,Fernando Gaviria,Colombia,Quick-Step Floors
1,1,2,111,Peter Sagan,Slovakia,Bora-Hansgrohe
2,1,3,144,Marcel Kittel,Germany,Team Katusha-Alpecin
3,1,4,27,Oliver Naesen,Belgium,AG2R La Mondiale
4,1,5,95,Alexander Kristoff,Norway,UAE Team Emirates
5,1,6,201,Christophe Laporte,France,Cofidis
6,1,7,163,Dylan Groenewegen,Netherlands,LottoNL-Jumbo
7,1,8,31,Michael Matthews,Australia,Team Sunweb
8,1,9,194,John Degenkolb,Germany,Trek-Segafredo
9,1,10,121,Jakob Fuglsang,Denmark,Astana

In [17]:
bump_unique_df.count()

stage_id         3351
ranking          3351
rider_id         3351
rider_name       3351
rider_country    3351
rider_team       3351
dtype: int64

In [18]:
df =bump_unique_df.query('')

ValueError: expr cannot be an empty string

In [ ]:
# suggested rider_id for the bump chart [1, 8, 11, 21, 51, 61, 71, 75, 78, 81, 91, 141,161,166
rider_1=bump_unique_df.loc[bump_unique_df['rider_id'] == 1]

In [ ]:
print(rider_1)

In [ ]:
bump_df["stage_id"].tolist()
bump_df["ranking"].tolist()
bump_df["rider_id"].tolist()
bump_df["rider_name"].tolist()
bump_df["rider_country"].tolist()
bump_df["rider_team"].tolist()