In [52]:
import requests
import html5lib
import pandas as pd
from bs4 import BeautifulSoup
import os
import json
import numpy as np
import datetime

In [53]:
# This is the base URL to get links to unstyled pages with the tables of data
base_url = "https://www.letour.fr"
# The DOM codes the results as such
tab_dict = {'ite':'Stage',
'itg':'General Classification'}
# Or for easy iterating.
short_list = ['ite','itg']

In [56]:
# stages = np.arange(1,2) #We can change the range to 1,22 to get all 21 stages. Testing 1 for now.
stages = [6]

In [57]:
# This cell scrapes the page for stage 1 and extracts a list of raw URLs coded with the classification code
# Scraping with requests and Beautiful Soup for the correct div.
links_list = []

for item in stages:
    start_url = f"{base_url}/en/rankings/stage-{item}" #URL to stage)
    page = requests.get(start_url)
    if page.status_code == 200:
        content = page.content
        soup = BeautifulSoup(content, "html5lib")

    #Pull out a specific block of code with two sets of coded URLs from the soup.
        try:
            all_links = soup.find_all(class_="tabs__link js-tabs-ranking")
            links_list.append(all_links)
        except ElementDoesNotExist as e:
            print(f"That does not appear to be a valid results URL. {e}")

In [58]:
# Take a look at that ugliness. We can extract just the stage results (ite) or overall ranking (itg)
links_list

[[<a class="tabs__link js-tabs-ranking" data-ajax-stack='{"itg":"\/en\/ajax\/ranking\/6\/itg\/2e6b59402b30aa758dec803853e707e4\/none","ipg":"\/en\/ajax\/ranking\/6\/ipg\/fbcc77b854c5e25e8463661abf3785cd\/none","etg":"\/en\/ajax\/ranking\/6\/etg\/4023d41c91df078db3e51182706d3a03\/none","img":"\/en\/ajax\/ranking\/6\/img\/db801374f64122f3003d880e98614640\/none","ijg":"\/en\/ajax\/ranking\/6\/ijg\/052944668cd53224da0904019853ec4e\/none","icg":"\/en\/ajax\/ranking\/6\/icg\/334ca0ba146ec8beb2d8efe213b3ee11\/none"}' data-type="g" data-xtclick="ranking::tab::overall" href="it">General classification</a>,
  <a class="tabs__link js-tabs-ranking" data-ajax-stack='{"ite":"\/en\/ajax\/ranking\/6\/ite\/b39465825894e28f8da03d6bc738619d\/none","ipe":"\/en\/ajax\/ranking\/6\/ipe\/cfda5149bc0926406a1b08aacdf28c9b\/none","ete":"\/en\/ajax\/ranking\/6\/ete\/59ac0316bc5a5650b28120522eb2d60b\/none","ime":"\/en\/ajax\/ranking\/6\/ime\/90c01748d82d7e15cbe6ded1848f5937\/none","ije":"\/en\/ajax\/ranking\/6\/ije\/bc13dfd22d22a0c251ad985cd9b96e4f\/none","ice":"\/en\/ajax\/ranking\/6\/ice\/410718563c9673a307deae9fb9ab8ed6\/none"}' data-type="e" data-xtclick="ranking::tab::stage" href="it">Stage classification</a>]]

In [59]:
# Parsing out the list of json-ish links from the DOM into a dictionary of functional URLs

url_dict = {}

for item in all_links:
    myurl = item['data-ajax-stack']
    #clean up the code into a useable URL
    myurl = myurl.replace('\/', '/')
    myurls = json.loads(myurl)
    for key, value in myurls.items():
        url_dict[key] = f"{base_url}{value}"
# TODO loop through each stage and get the results. For now just look at a single stage, not any more or other results
for key, value in url_dict.items():
    try:
        if key == 'ite':
            myurl = value #This would change to adding the list of URLs to a list or dictionary later.
            print(value, key)
    except KeyError:
        pass

https://www.letour.fr/en/ajax/ranking/6/ite/b39465825894e28f8da03d6bc738619d/none ite

In [60]:
# Go to the link parsed out of the DOM and it is a plain URL page with a single, nested table
# table_list = [] #Not used here, we will have to append the data to a list or do a direct load to SQL database from here
try:
    table = pd.read_html(myurl)
    df = table[0] #Change this when we start iterating
except KeyError:
    pass

In [61]:
df.head()

,Rank,Rider,Rider No.,Team,Times,Gap,B,P
0,1,DANIEL MARTIN,91,UAE TEAM EMIRATES,04h 13' 43'',-,B : 10'',-
1,2,PIERRE ROGER LATOUR,26,AG2R LA MONDIALE,04h 13' 44'',+ 00h 00' 01'',B : 6'',-
2,3,ALEJANDRO VALVERDE,78,MOVISTAR TEAM,04h 13' 46'',+ 00h 00' 03'',B : 4'',-
3,4,JULIAN ALAPHILIPPE,101,QUICK - STEP FLOORS,04h 13' 46'',+ 00h 00' 03'',-,-
4,5,RAFAL MAJKA,114,BORA - HANSGROHE,04h 13' 46'',+ 00h 00' 03'',-,-

In [62]:
# Reformat the times
df['Result'] = df['Times'].str.replace('h ', ':').str.replace('\'\'', '').str.replace('\' ',':')

df.head()

,Rank,Rider,Rider No.,Team,Times,Gap,B,P,Result
0,1,DANIEL MARTIN,91,UAE TEAM EMIRATES,04h 13' 43'',-,B : 10'',-,04:13:43
1,2,PIERRE ROGER LATOUR,26,AG2R LA MONDIALE,04h 13' 44'',+ 00h 00' 01'',B : 6'',-,04:13:44
2,3,ALEJANDRO VALVERDE,78,MOVISTAR TEAM,04h 13' 46'',+ 00h 00' 03'',B : 4'',-,04:13:46
3,4,JULIAN ALAPHILIPPE,101,QUICK - STEP FLOORS,04h 13' 46'',+ 00h 00' 03'',-,-,04:13:46
4,5,RAFAL MAJKA,114,BORA - HANSGROHE,04h 13' 46'',+ 00h 00' 03'',-,-,04:13:46

In [63]:
# Remove extra columns
df.drop(['Rider','Team','Gap'], axis=1)

     Rank  Rider No.         Times         B  P    Result
0       1         91  04h 13' 43''  B : 10''  -  04:13:43
1       2         26  04h 13' 44''   B : 6''  -  04:13:44
2       3         78  04h 13' 46''   B : 4''  -  04:13:46
3       4        101  04h 13' 46''         -  -  04:13:46
4       5        114  04h 13' 46''         -  -  04:13:46
5       6         61  04h 13' 46''         -  -  04:13:46
6       7        191  04h 13' 46''         -  -  04:13:46
7       8        111  04h 13' 46''         -  -  04:13:46
8       9          8  04h 13' 46''   B : 2''  -  04:13:46
9      10        166  04h 13' 46''         -  -  04:13:46
10     11         81  04h 13' 46''         -  -  04:13:46
11     12         87  04h 13' 46''         -  -  04:13:46
12     13         71  04h 13' 46''         -  -  04:13:46
13     14         51  04h 13' 46''         -  -  04:13:46
14     15        121  04h 13' 46''         -  -  04:13:46
15     16         75  04h 13' 46''         -  -  04:13:46
16     17         88  04h 13' 49''         -  -  04:13:49
17     18          1  04h 13' 51''         -  -  04:13:51
18     19         11  04h 13' 54''         -  -  04:13:54
19     20         41  04h 13' 55''         -  -  04:13:55
20     21        105  04h 13' 55''         -  -  04:13:55
21     22         55  04h 13' 55''         -  -  04:13:55
22     23        141  04h 13' 55''         -  -  04:13:55
23     24        158  04h 13' 55''         -  -  04:13:55
24     25        161  04h 13' 55''         -  -  04:13:55
25     26          2  04h 13' 55''         -  -  04:13:55
26     27        204  04h 13' 55''         -  -  04:13:55
27     28         28  04h 13' 55''         -  -  04:13:55
28     29        136  04h 13' 55''         -  -  04:13:55
29     30         58  04h 13' 55''         -  -  04:13:55
..    ...        ...           ...       ... ..       ...
140   141         97  04h 28' 13''         -  -  04:28:13
141   142        128  04h 28' 13''         -  -  04:28:13
142   143        213  04h 28' 13''         -  -  04:28:13
143   144        173  04h 28' 13''         -  -  04:28:13
144   145        177  04h 28' 13''         -  -  04:28:13
145   146         65  04h 28' 13''         -  -  04:28:13
146   147         86  04h 28' 13''         -  -  04:28:13
147   148         95  04h 28' 13''         -  -  04:28:13
148   149        102  04h 28' 13''         -  -  04:28:13
149   150        106  04h 28' 13''         -  -  04:28:13
150   151        131  04h 28' 13''         -  -  04:28:13
151   152        144  04h 28' 13''         -  -  04:28:13
152   153        148  04h 28' 13''         -  -  04:28:13
153   154         98  04h 28' 13''         -  -  04:28:13
154   155        107  04h 28' 13''         -  -  04:28:13
155   156        163  04h 28' 13''         -  -  04:28:13
156   157        171  04h 28' 13''         -  -  04:28:13
157   158        135  04h 28' 13''         -  -  04:28:13
158   159         82  04h 28' 13''         -  -  04:28:13
159   160        123  04h 28' 13''         -  -  04:28:13
160   161        103  04h 28' 13''         -  -  04:28:13
161   162         15  04h 28' 13''         -  -  04:28:13
162   163        168  04h 28' 13''         -  -  04:28:13
163   164        124  04h 28' 13''         -  -  04:28:13
164   165        151  04h 28' 13''         -  -  04:28:13
165   166        164  04h 28' 13''         -  -  04:28:13
166   167        153  04h 28' 13''         -  -  04:28:13
167   168         13  04h 28' 13''         -  -  04:28:13
168   169         94  04h 28' 13''         -  -  04:28:13
169   170        185  04h 28' 13''         -  -  04:28:13

[170 rows x 6 columns]

In [81]:
for index, row in df.iterrows():
    if 'B' in row['B']:
        bonus = row['B']
        bonus= bonus.split(' : ')[1].replace("''",'')
        df.loc[index, 'Bonus'] = bonus
    elif 'P' in row['P']:
        bonus = row['P']
        print(bonus.replace('P : ','').replace("/' ",''))

#         print((bonus.split(' ')[-1]))
#         df.loc[index, 'Bonus'] = ('-' + bonus)

00' 20''

In [80]:
# We need to reformat the Result column, so we could use the datetime function to convert it to seconds for easy
# calculations later on. From an example I found on stackoverflow
# https://stackoverflow.com/questions/6402812/how-to-convert-an-hmmss-time-string-to-seconds-in-python
for index, row in df.iterrows():
    if ':' in row['Result']:
        t = row['Result']
        h,m,s = t.split(':')
        df.loc[index, 'Time_Seconds'] = int(datetime.timedelta(hours=int(h),minutes=int(m),seconds=int(s)).total_seconds())

In [ ]:
# `result_id` INT AUTO_INCREMENT NOT NULL,
# `stage_id` int(11) NOT NULL,
# `race_result_type_id` int(11) NOT NULL,
# `ranking` int(11) NOT NULL,
# `rider_id` int(11) NOT NULL,
# `rider_time` VARCHAR(10),
# `rider_bonus` VARCHAR(10) DEFAULT NULL,
# `rider_points` VARCHAR(10) DEFAULT NULL,
# PRIMARY KEY (`result_id`),
# FOREIGN KEY (`rider_id`) REFERENCES race_starters(`rider_id`),
# FOREIGN KEY (`stage_id`) REFERENCES race_stages(`stage_id`),
# FOREIGN KEY (`race_result_type_id`) REFERENCES race_result_type(`race_result_type_id`)

df.rename({'Rank': 'ranking', 'Rider No.': 'rider_id', 'Time_Seconds':'rider_time','Bonus':'rider_bonus'}, axis='columns')

In [28]:
df.head()

,Rank,Rider,Rider No.,Team,Times,Gap,B,P,Result,Time_Seconds
0,1,FERNANDO GAVIRIA RENDON,103,QUICK - STEP FLOORS,04h 23' 32'',-,B : 10'',-,04:23:32,15812.0
1,2,PETER SAGAN,111,BORA - HANSGROHE,04h 23' 32'',-,B : 6'',-,04:23:32,15812.0
2,3,MARCEL KITTEL,144,TEAM KATUSHA ALPECIN,04h 23' 32'',-,B : 4'',-,04:23:32,15812.0
3,4,ALEXANDER KRISTOFF,95,UAE TEAM EMIRATES,04h 23' 32'',-,-,-,04:23:32,15812.0
4,5,CHRISTOPHE LAPORTE,201,"COFIDIS, SOLUTIONS CREDITS",04h 23' 32'',-,-,-,04:23:32,15812.0

In [20]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [21]:
engine = create_engine("mysql://root:sorryquery13@localhost/letour_db")

In [22]:
data = engine.execute("SELECT * FROM race")

for record in data:
    print(record)

(1, 'Tour de France', 2018, 3351)